name: ML_sdfi
channels:
  - fastai
  - pytorch
  - nvidia
  - conda-forge
dependencies:
  - python=3.10
  - fastai
  - pytorch
  - geopandas
  - gdal
  - fiona
  - psutil
  - rasterio
  - torchvision
  - pytorch-cuda=12.1
  - pip
  - pip:
      - git+https://github.com/rasmuspjohansson/albumentations-multi-channels
      - git+https://github.com/walkwithfastai/walkwithfastai.github.io
      - git+https://github.com/SDFIdk/multi_channel_dataset_creation.git
      - psycopg2-binary
      - reportlab
